<footer class="footer">
    <section class="container">
        <div class="row">
            {{!-- About --}}
            <div class="col s12 m6 l4 u-marginBottom30 u-flexColumnTop">
                <div class="footer-items u-flexColumnTop u-flex--1">
                    <h3 class="footer-items-title u-underline u-fontSize22">{{t "About Us"}}</h3>
                    <div class="footer-b u-flex--1">
                        <p>{{@site.description}}</p>
                    </div>

                    {{!-- Social Media - partilas/widget/social-media.hbs --}}
                    {{> "widget/social-media"}}
                </div>
            </div>

            {{!-- Tag Cloud --}}
            <div class="col s12 m6 l4 u-marginBottom30 u-flexColumnTop">
                <div class="footer-items footer-tags u-flex--1">
                    <h3 class="footer-items-title u-underline u-fontSize22">{{t "Tags"}}</h3>
                    <div class="buttonSet">
                    {{#get "tags" limit="10" order="desc"}}
                        {{#foreach tags}}
                            <a href="{{url absolute="true"}}" title="{{name}}" class="u-textCapitalize button button--outline-success">{{name}}</a>
                        {{/foreach}}
                    {{/get}}
                    </div>
                </div>
            </div>

            {{!-- Contact --}}
            <div class="col s12 m6 l4 u-marginBottom30 u-flexColumnTop">
                <div class="footer-items u-flexColumnTop u-flex--1">
                    <h3 class="footer-items-title u-underline u-fontSize22">{{t "Contact Us"}}</h3>
                    <div class="footer-b u-flex--1">
                        <p>questions@inthekeep.com</p>
                    </div>
                </div>
            </div>

            {{!-- Copy --}}
            <div class="col s12 u-paddingTop20 u-textAlignCenter u-fontSizeSmaller">
                &copy; {{date format="YYYY"}} In The Keep LLC.
                Theme based on <a href="https://github.com/godofredoninja/simply" title="Simply Theme">Simply</a>
            </div>
        </div>
    </section>
</footer>